<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbhog.mapper.DeptMapper">
    <select id="getDeptSetupTwo" resultType="dept">
        select * from t_dept where t_dept.did=#{did};
    </select>

    <select id="getDeptAndEmpByStepTwo" resultType="Emp">
        select * from t_emp emp where did = #{did};
    </select>
</mapper>